{% extends "base.html" %}
{% from 'bootstrap5/form.html' import render_field %}

{% block content %}
    <center>
        <p class="display-6">Панель администратора</p>
    </center>
   <!-- модальное окно бана пользователя -->
    <a class="btn btn-outline-danger" role="button" data-bs-toggle="modal" style="position: absolute; left: 27%; top: 20%;" 
    data-bs-target="#ban" data-bs-whatever="@getbootstrap">Забанить пользователя</a>
    <div class="modal fade" id="ban" tabindex="-1" aria-labelledby="banlabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="banlabel">Забанить пользователя</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
          </div>
          <div class="modal-body">
            <form method="POST" action="">
                {{ ban_form.hidden_tag() }}
                {{ render_field(ban_form.choose_user) }}
                <br>
                <input class="btn btn-outline-danger" type="submit" value="Забанить"></input>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
          </div>
        </div>
      </div>
    </div>

    <!-- модальное окно разбана пользователя -->
    <a class="btn btn-outline-success" role="button" data-bs-toggle="modal" style="position: absolute; left: 42%; top: 20%;" 
    data-bs-target="#unban" data-bs-whatever="@getbootstrap">Разбанить пользователя</a>
    <div class="modal fade" id="unban" tabindex="-1" aria-labelledby="unbanlabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="unbanlabel">Разбанить пользователя</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
          </div>
          <div class="modal-body">
            <form method="POST" action="">
                {{ unban_form.hidden_tag() }}
                {{ render_field(unban_form.choose_login) }}
                <br>
                <input class="btn btn-outline-success" type="submit" value="Разбанить"></input>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
          </div>
        </div>
      </div>
    </div>

    <!-- модальное окно создания группы -->
    <a class="btn btn-outline-info" role="button" data-bs-toggle="modal" style="position: absolute; left: 56%; top: 20%;" 
    data-bs-target="#createGroup" data-bs-whatever="@getbootstrap">Создать группу</a>
    <div class="modal fade" id="createGroup" tabindex="-1" aria-labelledby="createGroupLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="createGroupLabel">Создать группу</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
          </div>
          <div class="modal-body">
            <form method="POST" action="">
                {{ group_form.hidden_tag() }}
                {{ render_field(group_form.travel_date)}}
                {{ render_field(group_form.choose_route) }}
                <br>
                <input class="btn btn-outline-info" type="submit" value="Создать"></input>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
          </div>
        </div>
      </div>
    </div>

    <!-- модальное окно добавления путевки в группу -->
    <a class="btn btn-outline-info" role="button" data-bs-toggle="modal" style="position: absolute; left: 66%; top: 20%;" 
    data-bs-target="#addTripToGroup" data-bs-whatever="@getbootstrap">Добавить пуетвку в группу</a>
    <div class="modal fade" id="addTripToGroup" tabindex="-1" aria-labelledby="addTripToGroupLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="addTripToGroupLabel">Добавить пуетвку в группу</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
          </div>
          <div class="modal-body">
            <form method="POST" action="">
                {{ group_trip_form.hidden_tag() }}
                {{ render_field(group_trip_form.choose_trip)}}
                {{ render_field(group_trip_form.choose_group) }}
                <br>
                <input class="btn btn-outline-info" type="submit" value="Добавить"></input>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
          </div>
        </div>
      </div>
    </div>
{% endblock %}