{% from 'bootstrap5/nav.html' import render_nav_item %}
{% from 'bootstrap5/utils.html' import render_messages %}

<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {% block styles %}
            {{ bootstrap.load_css() }}
        {% endblock %}
        {% if title %}
            <title>{{ title }}</title>
        {% else %}
            <title>Добро пожаловать</title>
        {% endif %}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg" style="background-color: #e3f2fd;">
            <div class="container-fluid">
                    <div class="navbar-nav">
                        {{ render_nav_item('index', 'Главная') }}
                        {{ render_nav_item('test_connection', 'Проверить подключение') }}
                        {{ render_nav_item('show_clients', 'Отели') }}
                        <!-- {{ render_nav_item('login', 'Войти') }} -->
                    <a class="btn btn-light" href="/login" role="button" style = "position:relative; left:15px;">Войти</a>
                </div>
            </div>
        </nav>
        {{ render_messages() }}
        {% block content %}{% endblock %}
        {% block scripts %}
            {{ bootstrap.load_js() }}
        {% endblock %}
    </body>
</html>