{% extends "base.html" %}
{% from 'bootstrap5/form.html' import render_field %}

{% block content %}
	<div class="container" style="max-width: 1000px;">
		<h2>{{ title }}</h2>
		<form method="POST" action="">
			{{ form.hidden_tag() }}
	        {{ render_field(form.full_name) }}
	        {{ render_field(form.address) }}
	       	{{ render_field(form.birth_date) }}
	        {{ render_field(form.phone_number) }}
	        {{ render_field(form.payment_method) }}
	        {{ render_field(form.agreed_rules) }}
			<input class="btn btn-outline-success" type="submit" value="Заключить контракт">
		</form>
	</div>
{% endblock %}