{% extends "base.html" %}

{% block content %}
        <h2>{{ title }}</h2>
        {% if hotel_names|length == 0 %}
            <p>Отелей не найдено.</p>
        {% else %}
            <table>
                <thead>
                    <th>№</th>
                    <th>Название</th>
                </thead>
            {% for hotel in hotel_names %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ hotel_names[0] }}</td>
                </tr>
            {% endfor %}
            </table>
        {% endif %}

{% endblock %}