{% extends "base.html" %}

{% block content %}
    <center>
        <p class="display-6">{{ title }}</p>
    </center>
    <div class="container" style="max-width: 1000px;">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            {% if routes|length == 0 %}
                <p class="display-6">Маршрутов не найдено.</p>
            {% else %}
                {% for i in range(0, routes|length) %}
                    <div class="col">
                        <div class="card" style="width: 20rem;">
                          <img src="{{ url_for('static', filename='img/' + routes[i][1] + '.jpeg') }}" class="card-img-top" 
                          alt="Изображение не найдено">
                            <div class="card-body">
                                <h5 class="card-title"> {{ routes[i][1] }}</h5>
                                <p class="card-text"> Стоимость {{ routes[i][2] }} <br> Длительность {{ routes[i][3] }} дней </p>
                                <a href="{{'/route/' + routes[i][0]|string }}" class="btn btn-outline-info">Подробнее</a>
                            </div>
                        </div>                   
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock %}