{% extends "base.html" %}
{% from 'bootstrap5/form.html' import render_field %}

{% block content %}
	<div class="container" style="max-width: 1000px;">
			<p class="display-6">{{ title }}</p>
			<form method="POST" action="">
				{{ form.hidden_tag() }}
				{{ render_field(form.username, class="form-control form-control-lg") }}
		        {{ render_field(form.password) }}
		        {{ render_field(form.remember_me)}}
				<input class="btn btn-outline-success" type="submit" value="Войти">
			</form>
			<hr width="975px">
			<a class="btn btn-outline-info" href="/register" role="button">Зарегистрироваться</a>
	</div>
{% endblock %}