{% extends "base.html" %}

{% block content %}

<div style="position:absolute; left: 25px;">
	<p class="display-6">Профиль пользователя {{ current_user.login }}</p>
	{% if user_client %}
		<p>ФИО: {{ user_client[0][3] }}</p>
		<p>Номер телефона: {{ user_client[0][2] }}</p>	
		<p>Адрес: {{ user_client[0][4] }}</p>
		<p>Дата рожения: {{ user_client[0][5] }}</p>
	{% else %}
		<p class="h6">Профиль пока пуст</p>
	{% endif %}
	<a class="btn btn-outline-success" role="button" href="/edit_profile">Редактировать профиль</a>
</div>

{% endblock %}