{% extends "base.html" %}

{% block content %}

<div style="position:absolute; left: 5%;">
	<p class="display-6">Профиль пользователя {{ current_user.login }}</p>
	{% if user_client %}
		<p class="lead">ФИО: {{ user_client[3] }}</p>
		<p class="lead">Номер телефона: {{ user_client[2] }}</p>	
		<p class="lead">Адрес: {{ user_client[4] }}</p>
		<p class="lead">Дата рожения: {{ user_client[5] }}</p>
	{% else %}
		<p class="lead">Профиль пока пуст</p>
	{% endif %}
	<a class="btn btn-outline-success" role="button" href="/edit_profile">Редактировать профиль</a>
</div>

{% endblock %}