{% extends "base.html" %}
{% from 'bootstrap5/form.html' import render_field %}

{% block content %}
	<div class="container" style="max-width: 1000px;">
		<h2>{{ title }}</h2>
		<form method="POST" action="">
			{{ form.hidden_tag() }}
			{{ render_field(form.username, class="form-control form-control-lg") }}
	        {{ render_field(form.email, placeholder="name@example.com") }}
	        {{ render_field(form.password) }}
	        {{ render_field(form.confirm) }}
	        {{ render_field(form.region_code) }}
	        {{ render_field(form.want_spam) }}
			<input class="btn btn-outline-success" type="submit" value="Зарегистрироваться">
		</form>
	</div>
{% endblock %}