{% extends "base.html" %}

{% block content %}
	<h2>{{ titile }}</h2>
	<form method="POST" action="">
        {{ form.hidden_tag() }}
        {% if form.username.errors %}
            {% for error in form.username.errors %}
                <div class="invalid-feedback">{{ error }}</div>
            {% endfor %}
        {% endif %}
        <div>{{ form.username.label }} {{ form.username(class="form-control form-control-lg") }}</div>
	  
	  {% if form.email.errors %}
		{% for error in form.email.errors %}
		    <div class="invalid-feedback">{{ error }}</div>
		{% endfor %}
	  {% endif %}
	  <div>{{ form.email.label }} {{ form.email(placeholder="name@example.com") }}</div>
	  
	  {% if form.password.errors %}
		{% for error in form.password.errors %}
		    <div class="invalid-feedback">{{ error }}</div>
		{% endfor %}
	  {% endif %}	  
	  <div>{{ form.password.label }} {{ form.password() }}</div>
	  
	  {% if form.confirm.errors %}
		{% for error in form.confirm.errors %}
		    <div class="invalid-feedback">{{ error }}</div>
		{% endfor %}
	  {% endif %}
	  <div>{{ form.confirm.label }} {{ form.confirm() }}</div>
	  
	  {% if form.birth_date.errors %}
		{% for error in form.birth_date.errors %}
		    <div class="invalid-feedback">{{ error }}</div>
		{% endfor %}
	  {% endif %}
	  <div>{{ form.birth_date.label }} {{ form.birth_date() }}</div>
	  
	  {% if form.region_code.errors %}
		{% for error in form.region_code.errors %}
		    <div class="invalid-feedback">{{ error }}</div>
		{% endfor %}
	  {% endif %}
	  <div>{{ form.region_code.label }} {{ form.region_code() }}</div>
	  
	  {% if form.want_spam.errors %}
		{% for error in form.want_spam.errors %}
		    <div class="invalid-feedback">{{ error }}</div>
		{% endfor %}
	  {% endif %}
	  <div>{{ form.want_spam.label }} {{ form.want_spam() }}</div>
	  <input type="submit" value="Зарегестрироваться">
	</form>
{% endblock %}