{% extends "base.html" %}

{% block content %}
    <center>
        <p class="display-6">Договор №{{ contract[2] }} от {{ contract[3] }}</p>
    </center>
    {% if contract_trips %}
    <div class="container" style="max-width: 1000px;">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            {% for i in range(0, contract_trips|length) %}
                <div class="col">
                    <div class="card" style="width: 18rem;">
                      <img src="{{ url_for('static', filename='img/Путевка.jpeg') }}" class="card-img-top" alt="..." style="max-width: 50%">
                        <div class="card-body">
                            <h5 class="card-title"> Путевка № {{ contract_trips[i][1] }}</h5>
                            <p class="card-text"> Стоимость: {{ contract_trips[i][2] }} <br> Маршрут: {{ contract_trips[i][7] }}  </p>
                            <a href="/" class="btn btn-outline-info">Переход куда-нибудь</a>
                        </div>
                    </div>                   
                </div>
            {% endfor %}
        </div>
    </div>
    {% else %}
        <center><p class="lead">Путевок не найдено.</p></center>
    {% endif %}
{% endblock %}