{% extends "base.html" %}

{% block content %}
    <center>
        <p class="display-6">Договор №{{ contract[2] }} от {{ contract[3] }}</p>
    </center>
    {% if contract_trips %}
    <div class="container" style="max-width: 1000px;">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            {% for i in range(0, contract_trips|length) %}
               <!-- вывод путевок -->
                <div class="col">
                    <div class="card" style="width: 18rem;">
                      <img src="{{ url_for('static', filename='img/Путевка.jpeg') }}" class="card-img-top" alt="..." style="max-width: 50%">
                        <div class="card-body">
                            <h5 class="card-title"> Путевка № {{ contract_trips[i][1] }}</h5>
                            <p class="card-text"> Стоимость: {{ contract_trips[i][12] }} <br> Маршрут: {{ contract_trips[i][11] }}  </p>
                            <a href="{{'/contract/' + contract[0]|string + '/trip/' + contract_trips[i][0]|string }}" class="btn btn-outline-info">Подробнее</a>
                                <form action="{{ url_for('delete_trip', trip_id=contract_trips[i][0], contract_id=contract[0]) }}" method=post>
                                    <br>
                                    <input class="btn btn-outline-info" type="submit" value="Отменить">
                                </form>
                        </div>
                    </div>                   
                </div>
            {% endfor %}
        </div>
    </div>
    {% else %}
        <center><p class="lead">Путевок не найдено.</p></center>
    {% endif %}
{% endblock %}